{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 1000px; width: 100%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 6px 10px; }
        .example-wrapper table td {padding: 10px; margin: 10px; text-decoration: none;}
        .example-wrapper table td a {text-decoration: none;}
    </style>

    <nav class="navbar navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <div class="collapse navbar-collapse menu">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a href="{{ path('home') }}" class="btn btn-outline-info">Home</a>
                    </li>

                </ul>
                <ul class="navbar-nav ml-auto" >

                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <li class="nav-item">
                        <a href="{{ path('app_logout') }}" class="btn btn-outline-danger">Logout</a>
                        {% else %}
                            <a href="{{ path('app_login') }}" class="btn btn-outline-primary">Login</a>
                        {% endif %}
                    </li>

                </ul>
                <ul class="navbar-nav ml-auto">

                    <li>
                        <a href="{{ path('user_list') }}" class="btn btn-outline-info">UserList</a>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                            {% if is_granted('ROLE_USER') %}
                                <a href="{{ path('profile') }}" class="btn btn-outline-info">MyProfile</a>
                            {% endif %}
                        {% else %}
                            <a href="{{ path('user-create') }}" class="btn btn-outline-dark">CreateAnAccount</a>
                        {% endif %}
                    </li>
                </ul>

            </div>

        </div>
    </nav>
{% endblock %}
