{% block body %}

   <link href="{{ asset('css/timer.css') }}" type="text/css" rel="stylesheet">
  


    
    <nav class="navbar navbar-expand-lg ">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                            {% if is_granted('ROLE_USER') %}
                                <a href="{{ path('profile') }}" class="host">Mon Profil</a>
                            {% endif %}
                        {% endif %}
                    </li>

                    <li>
                        <a href="{{ path('user_list') }}" class="host">Utilisateurs</a>
                    </li>
                    <li>
                        <a href="{{ path('team') }}" class="host">Groupes</a>
                    </li>
                </ul>

                <ul class="navbar-nav ml-auto" >

                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <li class="nav-item">
                        <a href="{{ path('app_logout') }}" class="btn btn-outline-danger">Déconnexion</a>
                        {% else %}
                            <a href="{{ path('home') }}" class="btn btn-outline-success account">Connexion</a>
                        {% endif %}
                    </li>

                </ul>
            </div>

    </nav>
{% endblock %}
