{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 1000px; width: 100%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 6px 10px; }
        .example-wrapper table td {padding: 10px; margin: 10px; text-decoration: none;}
        .example-wrapper table td a {text-decoration: none;}
    </style>

    <div class="example-wrapper">
        <div class="example-wrapper">
            <table>
                <tr>
                    <td>
                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                            <a href="{{ path('app_logout') }}">Déconnexion</a>
                        {% else %}
                            <a href="{{ path('app_login') }}">Se_connecter</a>
                        {% endif %}
                    </td>
                    <td>
                        {% if is_granted('ROLE_USER') %}
                            <a href="{{ path('user_list') }}">Liste des utilisateurs</a>
                        {% endif %}
                    </td>

                    <td>
                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                            {% if is_granted('ROLE_USER') %}
                                <a href="{{ path('profile') }}">Votre profil</a>
                            {% endif %}
                        {% else %}
                            <a href="{{ path('user-create') }}">Créer un compte</a>
                        {% endif %}
                    </td>
                </tr>
            </table>
        </div>

    </div>
{% endblock %}
