{% extends 'base.html.twig' %}

{% block title %}Hello Team Controller!{% endblock %}

{% block body %}
<!--
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ '/var/www/project/src/Controller/TeamController.php'|file_link(0) }}">src/Controller/TeamController.php</a></code></li>
        <li>Your template at <code><a href="{{ '/var/www/project/templates/team/index.html.twig'|file_link(0) }}">templates/team/index.html.twig</a></code></li>
    </ul>
</div>
-->
 <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
        .example-wrapper ul {text-decoration: none;}
        .example-wrapper a {text-decoration: none;}
        .example-wrapper ul li {padding: 10px; margin: 10px; text-decoration: none;}
        .example-wrapper ul li a{padding: 10px; margin: 3px; text-decoration: none; display: inline;}
        .example-wrapper a {text-decoration: none;}
    </style>
    {% include 'layout/navbar.html.twig'%}

    <div class="container">
    <h1 style="margin-top: 20px; text-align: center;">Liste des groupes</h1>

        <a style= "margin-top: 10px; margin-bottom: 5px;" href="{{ path('team-create') }}" class="btn btn-success"><i class="fa fa-plus" aria-hidden="true"></i> Ajouter un groupe</a>
            <table class="table table-bordered" style="text-align: center;">
                <thead class="thead-dark">
                <tr>
                    <th> Nom </th>
                    <th> Membres </th>
                    <th> Modifier </th>
                  <!--  <th colspan="3"> Action</th> -->
                </tr>
                </thead>
            {# légèrement différent de php avec foreach userList as user #}
            {% for team in team_list %}
                <tr>
                <td style="vertical-align:middle;">{{ team.name }} </td>
                {% if team.getUsers is not empty %}
                    <td style="vertical-align:middle;"> 
                    {% for users in team.getUsers %}
                        {{users.firstName}}
                        {% if users.id == team.getTeamAdmin %}
                         [ADMIN]
                        {% endif %}
                        ,
                    {% endfor %}
                    </td>
                    <td style="vertical-align:middle;">
                        {% if team.getTeamAdmin == app.user.id %}
                            <a href="{{ path('team_edit',{idTeam: team.id}) }}" class="btn btn-primary"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                        {% else %}
                            Impossible, vous n'êtes pas l'administateur du groupe.
                        {% endif %}
                    </td>
                {% endif %}
                </tr>
            {% endfor %}
            </table>
    </div>
{% endblock %}
