{% extends 'base.html.twig' %}

{% block title %}Hello Project Controller!{% endblock %}

{% block body %}
<!--
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ '/var/www/project/src/Controller/GroupController.php'|file_link(0) }}">src/Controller/GroupController.php</a></code></li>
        <li>Your template at <code><a href="{{ '/var/www/project/templates/group/index.html.twig'|file_link(0) }}">templates/group/index.html.twig</a></code></li>
    </ul>
</div>
-->
 <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
        .example-wrapper ul {text-decoration: none;}
        .example-wrapper a {text-decoration: none;}
        .example-wrapper ul li {padding: 10px; margin: 10px; text-decoration: none;}
        .example-wrapper ul li a{padding: 10px; margin: 3px; text-decoration: none; display: inline;}
        .example-wrapper a {text-decoration: none;}
    </style>

    <div class="container">
        <div Class="row justify-content-center">
    <h1>Liste des projets</h1>
            <table Class="table">
                <thead>
                <tr>
                    <th> nom </th>
                    <th> description </th>
                    <th> groupe </th>
                  <!--  <th colspan="3"> Action</th> -->
                </tr>
                </thead>
            {# légèrement différent de php avec foreach userList as user #}
            {% for projet in projet_list %}
                <tr>
                <td>{{ projet.name }} </td>
                <td>{{ projet.description }} </td>
                {% if projet.getGroup is not empty %}
                    <td> 
                    - groupe lié au projet: 
                    {% for groups in projet.getGroup %}
                        {{groups.name}} ,
                    {% endfor %}
                    </td>
                {% endif %}
                    <td>
                        {% if projet.getProjectAdmin == app.user.id %}
                            <a href="">modifier</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </table>
    </div>
    </div>
{% endblock %}
