{% extends 'base.html.twig' %}

{% block title %}Profile list{% endblock %}

{% block head %} {% endblock %}

{% block body %}

    {% include 'layout/navbar.html.twig'%}

        {% for message in app.flashes('notice') %}
            <div class="alert alert-notice">
                {{ message }}
            </div>
        {% endfor %}

    <div class = "profil">
        <div class = "information">
            <h3 style = "margin-bottom: 10px;"> Informations détaillées </h3>
            <li>Nom: {{ user.lastName|upper }}</li>
            <li>Prénom: {{ user.firstName }}</li>
            <li>Email: {{ user.email }}</li>
            <button id = "button" class = "btn btn-primary">Modifier le profil</button>
        </div>
        <div id = "modify">
            {{ form(form) }}
        </div>
    </div>

<script>
/*
function afficher_Form(){
    var modify = document.getElementById("modify");

    if (modify.style.display == 'flex'){
        modify.style.display = 'none';
    }
    else{
        modify.style.display = 'flex';
    }
}*/

var button = document.getElementById("button");
var modify = document.getElementById("modify");


    modify.style.display="none";
            button.addEventListener('click', () => {
                modify.style.display="block";
                modify.style.width="70%";
            });


</script>     
        
        



{% endblock %}
